{
    "smoothing_settings": {
        "spatial_smoothing" : true,
        "time_smoothing" : false,
        "spatial_smoothing_window" : 20,
        "time_smoothing_window" : 15
    },
    "trajectory_following_settings": {
        "spline_type": 0,
        "control_point_filter_threshold": 0,
        "dir_constraint_factor": 1.0,
        "heuristic_step_length_factor": 1.0,
        "position_constraint_factor": 1.0,
        "step_length_approx_method": "arc_length",
        "transition_pose_constraint_factor": 0.6,
        "closest_point_search_accuracy": 0.001,
        "closest_point_search_max_iterations": 5000,
        "look_ahead_distance": 100,
        "end_step_length_factor": 1.0,
        "max_distance_to_path": 500,
        "arc_length_granularity": 1000,
        "use_transition_constraint" : true
    },
    "local_optimization_settings": {
        "start_error_threshold": 0.0,
        "error_scale_factor": 1.0,
        "spatial_epsilon": 0.0,
        "quality_scale_factor": 1.0,
        "tolerance": 0.05,
        "method": "leastsq",
        "max_iterations": 500,
        "verbose": false
    },
    "global_spatial_optimization_settings": {
        "max_steps":  3,
        "start_error_threshold": 4.0,
        "error_scale_factor": 1.0,
        "quality_scale_factor": 100.0,
        "tolerance": 0.05,
        "method": "leastsq",
        "max_iterations": 500,
        "position_weight": 1000.0,
        "orientation_weight": 1000.0,
        "verbose": false
    },
    "global_time_optimization_settings": {
        "max_steps": 10,
        "error_scale_factor": 1.0,
        "quality_scale_factor": 0.001,
        "tolerance": 0.05,
        "method": "BFGS",
        "max_iterations": 500,
        "optimized_actions":2,
        "verbose": false
    },
    "inverse_kinematics_settings":{
        "tolerance": 0.05,
        "optimization_method": "L-BFGS-B",
        "max_iterations": 500,
        "interpolation_window":120,
        "transition_window": 60,
        "use_euler_representation": false,
        "solving_method": "unconstrained",
        "activate_look_at":true,
        "max_retries": 5,
        "success_threshold": 5.0,
        "optimize_orientation": true,
        "elementary_action_max_iterations": 10,
        "elementary_action_optimization_eps": 1.0,
        "adapt_hands_during_carry_both": true,
        "constrain_place_orientation": false
    },
    "constrained_gmm_settings": {
        "precision": {
            "smooth": 5, 
            "rot": 0.15, 
            "pos": 1
        }, 
        "max_bad_samples": 1000, 
        "strict": false
    }, 
    "n_random_samples": 300,
    "average_elementary_action_error_threshold": 500,
    "constrained_sampling_mode": "cluster_tree_search",
    "activate_inverse_kinematics": true,
    "n_cluster_search_candidates": 1,
    "use_transition_model": false, 
    "local_optimization_mode": "two_hands",
    "activate_parameter_check": false,
    "use_global_time_optimization": false,
    "global_spatial_optimization_mode": "none",
    "collision_avoidance_constraints_mode": "ik",
    "optimize_collision_avoidance_constraints_extra": false,
    "use_constrained_gmm": false,
    "use_constraints": true,
    "use_local_coordinates": true,
    "use_semantic_annotation_with_mgrd":false,
    "activate_time_variation": true,
    "debug_max_step": -1,
    "verbose": false
}