{
    "model_data": "E:\\projects\\unity integration\\mg-unity-integration\\data\\motion_primitives_quaternion_PCA95_unity-integration-1.0.1",
    "transition_data": "E:\\projects\\INTERACT\\repository\\data\\4 - Transition model\\input",
    "output_dir":  "E:\\projects\\unity integration\\mg-unity-integration\\NavigationTest\\Assets\\Resources",
    "input_dir": "E:\\projects\\INTERACT\\repository\\BestFitPipeline\\CNL-GUI",
    "output_filename": "model1_temp",
    "port": 8889,
    "export_motion_to_file": false,
    "export_motion_to_fives": true,
    "activate_joint_map": false,
    "activate_coordinate_transform": false,
    "data_folder": "C:\\repo\\data\\1 - MoCap",
    "write_log" : false,
    "log_level": 1,
    "algorithm_settings": "accuracy",
    "add_time_stamp": true,
    "activate_collision_avoidance": true,
    "collision_avoidance_actions": ["pickRight","pickLeft","pickBoth","placeRight","placeLeft","placeBoth"],
    "collision_avoidance_service_url": "127.0.0.1",
    "collision_avoidance_service_port": 10030,
    "create_ca_vis_data": true,
    "fives_url": "localhost",
    "fives_port": 8081
}