{
    "smoothing_settings": {
        "spatial_smoothing" : true,
        "time_smoothing" : false,
        "spatial_smoothing_method": "smoothing",
        "spatial_smoothing_window" : 20,
        "time_smoothing_window" : 15,
        "apply_foot_alignment": true
    },
    "trajectory_following_settings": {
        "spline_type": 0,
        "control_point_filter_threshold": 0,
        "dir_constraint_factor": 0.8,
        "heuristic_step_length_factor": 1.0,
        "position_constraint_factor": 1.0,
        "step_length_approx_method": "arc_length",
        "transition_pose_constraint_factor": 0.6,
        "closest_point_search_accuracy": 0.001,
        "closest_point_search_max_iterations": 5000,
        "look_ahead_distance": 80,
        "end_step_length_factor": 0.8,
        "max_distance_to_path": 500,
        "arc_length_granularity": 1000,
        "use_transition_constraint" : false,
        "spline_super_sampling_factor": 20,
        "constrain_start_orientation": true,
        "constrain_transition_orientation": true,
        "generate_half_step_constraint": true,
        "generate_foot_plant_constraints": false
    },
    "local_optimization_settings": {
        "start_error_threshold": 0.0,
        "error_scale_factor": 1.0,
        "spatial_epsilon": 0.0,
        "quality_scale_factor": 1.0,
        "tolerance": 0.05,
        "method": "leastsq",
        "max_iterations": 500,
        "verbose": false,
        "diff_eps": 1.0
    },
    "global_spatial_optimization_settings": {
        "max_steps":  4,
        "start_error_threshold": 4.0,
        "error_scale_factor": 1.0,
        "quality_scale_factor": 50.0,
        "tolerance": 0.05,
        "method": "leastsq",
        "max_iterations": 1000,
        "position_weight": 1000.0,
        "orientation_weight": 900.0,
        "verbose": false,
        "diff_eps": 2.0
    },
    "global_time_optimization_settings": {
        "error_scale_factor": 1.0,
        "quality_scale_factor": 0.0001,
        "tolerance": 0.05,
        "method": "L-BFGS-B",
        "max_iterations": 500,
        "optimized_actions":2,
        "verbose": false,
        "diff_eps": 1.0
    },
    "inverse_kinematics_settings":{
        "tolerance": 0.05,
        "optimization_method": "L-BFGS-B",
        "max_iterations": 1000,
        "interpolation_window": 120,
        "transition_window": 60,
        "use_euler_representation": false,
        "solving_method": "unconstrained",
        "activate_look_at":true,
        "max_retries": 5,
        "success_threshold": 5.0,
        "optimize_orientation": true,
        "elementary_action_max_iterations": 5,
        "elementary_action_optimization_eps": 1.0,
        "adapt_hands_during_carry_both": true,
        "constrain_place_orientation": false
    },
    "motion_grounding_settings":{
         "activate_blending": true,
         "generate_foot_plant_constraints": true,
         "foot_lift_search_window": 40,
         "foot_lift_tolerance": 3.0,
         "graph_walk_grounding_window": 4,
         "contact_tolerance": 1.0,
         "constraint_range": 10,
         "smoothing_constraints_window": 8,
         "damp_angle": 0.01,
         "damp_factor": 1.0
    },
    "n_random_samples": 300,
    "average_elementary_action_error_threshold": 500,
    "constrained_sampling_mode": "cluster_tree_search",
    "activate_inverse_kinematics": true,
    "activate_motion_grounding": true,
    "n_cluster_search_candidates": 2,
    "use_transition_model": false,
    "local_optimization_mode": "none",
    "activate_parameter_check": false,
    "use_global_time_optimization": true,
    "global_spatial_optimization_mode": "trajectory_end",
    "collision_avoidance_constraints_mode": "none",
    "optimize_collision_avoidance_constraints_extra": false,
    "use_constrained_gmm": false,
    "use_constraints": true,
    "use_local_coordinates": true,
    "use_semantic_annotation_with_mgrd":false,
    "activate_time_variation": true,
    "debug_max_step": -1,
    "verbose": false
}